// Import Material prebuilt theme  
@use '@angular/material/prebuilt-themes/indigo-pink.css';

// Import Creamsicle Theme
@use './styles-creamsicle.scss';

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: var(--transition);
}

/* Common utility classes */
.spacer {
  flex: 1 1 auto;
}
